.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: absolute;
    padding: 10px;
    width: 100%;
    max-width: 640px;
    background-color: #BF3D3D;
    border-radius: 10px;
    
}

.popup-inner .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: aliceblue;

}