.btn{
    background-color: #e08d40;
    border-radius: 1.5rem;
    width: 250px;
    height: 75px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2rem;
     border-bottom-width: thick;
     border-right: none;
     border-left: none;
     border-top: none;
}
.container1{
    background-color: #bf3d3d;
}

.heroSection{
   
    width: 80%;
    margin:  auto;
    

}
.heroSection_box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;

}
.hkyazi{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 80%;
    color: white;
    
    
   
}
.hkyazi h3{
    font-weight: bold;
    color: white;
    background-color: #e08d40;
    text-align: center;
    border-radius: 1rem;
    padding: 0.4rem;
    text-decoration: none;
    
}
.hkyazi p{
    font-style: italic;
    font-weight: bold;
    padding: 0.3rem;
}

.heroSection_box_left{
    padding-right: 6rem;
}
.heroSection_box_left h1{
    font-size: 5rem;
    line-height: 2;
    color: white;
    font-style: italic;
}
.heroSection_box_left p{
    color: white;
    font-size: xx-large;
    margin-bottom: 1rem;
}
.heroSection_box_right img{
    margin-bottom: 4rem;
}
.hkyazi_img img{
    margin-top: 9rem;
}



@media screen and (max-width: 35em){
    .heroSection{
        width: 90%;
    }
   
}

@media screen and (max-width: 55em){
    .heroSection_box{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .heroSection_box_left{
        padding-right: 2rem;
    }
    .heroSection_box_left h1{
        line-height: 1;
        font-size: 3rem;
    }
    .heroSection_box_right img{
        width: 75%;
        height: auto;
        margin-bottom: 1rem;
    }
    .hkyazi_img img{
        width: 75%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .btn{
        width: 75%;
    }
    .hkyazi {
        width: auto;
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: small;
    }
    .hkyazi h3{
        width: 75%;
        font-size: small;
    }
}