.section_padding{
    padding: 0.5rem 0.5rem;
}

.footer {
    background-color: #bf3d3d;
}

.sb_footer{
    display: flex;
    flex-direction: column;
}

.sb_footer-links{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    text-align: left;
    margin-bottom: 1rem;
}

.sb_footer-links_div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color:  rgb(255, 255, 255);

}


.sb_footer-links_divdiv{
    width: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(214, 206, 206);

}
.sb_footer-links_divdiv p{
    width: 90½;
    color:  rgb(255, 255, 255);

}


a{
    color: white;
    text-decoration: none;
    

}

.socialmedia{
    display: flex;
    flex-direction: row;
    


}


.socialmedia img{

    width: 80%;
}

.sb_footer-links_div h4{
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 0.9rem;
    color: #e08d40;
}
.sb_footer-links_div h3{
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 1rem;
    color: #ffffff;
}

.sb_footer-links_div p{

    font-size: 17px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}


.sb_footer-bellow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;


}

.sb_footer-bellow-links{
    display: flex;
    flex-direction: row;
}

.sb_footer-bellow-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

hr{
    color: white !important;
    width: 100%;
}

.sb_footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.google-maps{
    width: 100%;
}


@media screen and (max-width: 850px){

    .sb_footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px){

    .sb_footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .sb_footer-links div{
        margin: 1rem 0;

    }
    .sb_footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }
    .sb_footer-bellow{
        flex-direction: column;
        justify-content: left;
    }
    .sb_footer-bellow-links{
        flex-direction: column;
    }
    .sb_footer-bellow-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px ) {
    .sb_footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
    
}